.request-index-wrapper {
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
}

.request-contents {
  font-size: 20px;
}

.request-info {
  display: flex;
  justify-content: space-between;
}

.info-left {
  display: flex;
}

.request-type {
  background-color: #7DC5C5;
  border: 1px solid #7DC5C5;
  border-radius: 5px;
  padding: 10px;
  max-width: fit-content;
  margin: 15px 0;
  margin-right: 15px;
}

.user-name,
.request-date {
  display: flex;
  align-items: center;
}

.request-message {
  border-bottom: #ccc 2px solid;
  min-height: 80px;
  line-height: 80px;
  margin-bottom: 20px;
}