.request-title{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.post{
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.request{
  height:200px;
  background-color:lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px;
}

.request-type{
  font-size: 16px;
  border: 1px solid;
  padding: 5px;
  background-color: lightblue;
}

.request-title{
  font-size: 20px;
  font-weight: bold;
}

.request-message{
  font-size: 16px;
}