<%= render "shared/second-header" %>

<div class="request-index-wrapper">

  <h3 class="request-title">リクエスト一覧</h3>

  <% if user_signed_in? %>
    <% if @requests.empty? %>
      <p>投稿履歴はありません</p>
    <% else %>
      <% @requests.each do |request| %>
        <% if request.user_id == current_user.id %>
          <div class="request">
            <%= "#{current_user.name}さん" %>
            <div class="request-type">
              <%= request.request_type.name %>
            </div>
            <div class="request-message">
              <%= request.message %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p>ログインしていません</p>
  <% end %>

</div>
