<div class="requests-index-wrapper">

  <h3 class="request-title">リクエスト一覧</h3>

  <% @requests.each do |request| %>
    <div class="request">
      <div class="request-type">
        <%= request.request_type.name %>
      </div>
      <div class="request-title">
        <%= request.title %>
      </div>
      <div class="request-message">
        <%= request.message %>
      </div>
    </div>
  <% end %>

</div>