<%= render "shared/second-header" %>

<div class="about-wrapper">
  <div class="about-contents">
    <div class="head-area">
      <h3 class="about-title">BookHubとは<br><span>about</span></h3>
    </div>
    <div class="text-area">
      <p>このアプリケーションは、オフィスの中で置物のようになっている本を<br>
      活用したいという気持ちから作成しました。</p>
    </div>
  </div>
</div>