.about-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 140px;
  /* height: calc(100vh - 226px); */
}

.about-contents {
  /* border: 1px solid #9c8a8a; */
  border-radius: 20px;
  margin: 0 auto;
  width: 800px;
  height: 550px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  padding: 20px 50px;
}

.about-title {
  font-size: 25px;
  border-bottom: 1px solid #ccc;
}

.about-title span {
  font-weight: normal;
  font-size: 18px;
}

.text-area {
  font-size: 18px;
  line-height: 25px;
}

.text-area span {
  font-size: 14px;
}